#{extends 'main.html' /}
#{set title:'Scala' /}
<div id="main">
  <div id="body">
    <div id="page">
      <h1>( Play!, Scala, Java, Twitter Streaming API, Websockets ) => COOL</h1>
      <h2><a>Hvorfor er Scala så kult?</a></h2>
      <p><ol>
        <li>Java-kompatibelt, kompileres til java bytekode og kjøres på JVM'en.</li>
        <li>Man kan blande funksjonell- og OO-programmeringsstil</li>
        <li>Fleksibel syntaks som gjør det enkelt å lage egne DSL'er'</li>
        <pre><code>object Lunar extends Baysick {
  def main(args:Array[String]) = {
    10 PRINT "Welcome to Baysick Lunar Lander v0.9"
    20 LET ('dist := 100)
    30 LET ('v := 1)
    40 LET ('fuel := 1000)
    50 LET ('mass := 1000)
    60 PRINT "You are drifting towards the moon."
    ...
    250 END
    RUN
  }
}</code></pre>
      </ol></p>
      <a class ="forth" href="@{Application.third}">→</a>
      <a class ="back" href="@{Application.first}">←</a>
    </div>
  </div>
</div>
          
        