#{extends 'main.html' /}
#{set title:'Java' /}
<div id="main">
  <div id="body">
    <div id="page">
      <h1>( Play!, Scala, Java, Twitter Streaming API, Websockets ) => COOL</h1>
      <h2><a>Hvorfor er Java så kult?</a></h2>
      <p><ol>
        <li>Næææ, not so much!</li>
        <li>Det finnes mange nyttige biblioteker da<br/> - som kan brukes fra Scala</li>
      </ol></p>
      <a class ="forth" href="@{Application.fourth}">→</a>
      <a class ="back" href="@{Application.second}">←</a>
    </div>
  </div>
</div>
          
        